.ps-dashboard {
  margin: 0;
  width: 100%;
}

.gridster .gridster-item {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.68);
  height:100%;
}


.ps-widget-header {
  position: relative;
  color: white;
  background-color: #444444;
  font-size: 18px;
  border-bottom: 1px solid black;
  min-height: 30px;
  padding: 4px 8px 2px 8px;
}

.ps-widget-header-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.ps-widget-header-buttons  .btn{
  margin: 3px 4px 4px 4px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.ps-dashboard-header {
  font-size: 20px;
  border-bottom: 1px solid #444444;
  color: white;
  background-color: #777777;
  margin: -20px;
  margin-bottom: 20px;
  min-height: 50px;
  padding: 8px;
  padding-left: 20px;
}

.ps-dashboard-controls {
  float: right;
}

.ps-widget-menu-area {
position:absolute;
left:7px;
  font-size: 22px;
  height:100%;
}

.ps-widget-menu-area .dropdown-menu {
left: -10px;
  padding-left: 15px;
  min-width: 54px;
  position:absolute;
}

.dropdownicon{
  color: darkred;
}
.ps-widget-menu-area a {
  color: whitesmoke;
}

.ps-widget-menu-area i {
  cursor: pointer;
}

.dropdown-backdrop {
  position: static;
}
